/*
* components/globals.scss
* Created 22/07/2021
* Tulevik
*/
$principal-color: #1B264F;
$secundary-color: #f5f5f5;
$gray-color: #606060;
$principal-font: 'Ranga', cursive;
$secundary-font: 'Questrial', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//fuentes con REM 
//font-size equal 10px
html{
    font-size: 62.5%;
}