/*
* components/globals.scss
* Created 22/07/2021
* Tulevik
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//fuentes con REM 
//font-size equal 10px
html{
    font-size: 62.5%;
}