header{
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: $principal-color;
    h2{
        font-family: $principal-font;
        font-size: 2rem;
        color: $secundary-color;
    }
}