header{
    height: 90px;
    @include flex(center, center, row);
    background-color: $principal-color;
    h2{
        font-family: $principal-font;
        font-size: 2rem;
        color: $secundary-color;
    }
}
